$primary: #B4B4B4;
$secondary: #EDEDED;
$link_text: rgba(0, 0, 0, 0.7);
$sidebar: #3a4651;
$hover: #2d363f;
$active: #4bcf99;
$blur: rgba(255, 255, 255, 0.5);
$main_bg: #f0f3f6;
$shadow: rgba(0, 0, 0, 0.2);
$light-greeny: #4bcf99;
$greeny: #33c087;
$white: white;
$light_gray: #bbb;
$red: red;
$gray-medium-light: #eaeaea;
$title-header: #17a2b8;
$white: white;
$not_actived: #6c757d;
$in_progress: #ffc107;
$finished: #28a745;
$focus: #850000;
